@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
  }

  body {
    @apply bg-white;
    color: #1e1e1e;
  }

  body.dark {
    @apply text-white;
    background-color: #1e1e1e;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-title: "Bebas Neue", "sans-serif";
  --font-nameMember: "Caveat";
  --breakpoint-xs-l: 26.563rem;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #1e1e1e;
    color: transparent;
  }
  .dark .text-outline {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
}
